#mydiv {
  position: absolute;
  z-index: 9;
  border: none;
  text-align: center;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: none;
  border: 5px solid black;
  border-radius: 50%;
  display: inline-block;
}

span{
	font-size: 40px;	
	text-align: center;
}